.container__markdown{
    width: 85vw;
    margin: auto;
    margin-top: 40px;
}

.container__markdown h1, h2, h3, h4, h5{
    margin: 1rem 0;
    font-size: 40px;
    color: #444444;
    font-family: "Playfair Display", serif;;
}

.container__markdown p{
    margin: 1.5rem 0;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.container__markdown pre{
    background-color: rgba(0, 0, 0, 0.137);
    padding: 10px;
    border-radius: 10px;
}

.container__markdown a{
    text-decoration: underline;
    color: rgb(70, 89, 196);
}

.container__markdown ul{
    list-style-type: '🔗';
    padding: 0 2rem;
}


/* container__post__erro */
.container__post__erro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    font-family: "Raleway", sans-serif;
}

.container__post__erro > a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(75, 75, 203);
    color: white;
    border-radius: 20px;
}