.container__campo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 24px 0px;
}

/* label */
.container__campo > label{
    font-size: 20px;
    font-weight: bold;
}

/* input */
.container__campo > input[type='text']{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.674);
    outline: none;
    font-weight: 600;
}

.container__campo > input[type='color']{
    width:100%;
    background-color: white;
    border: 0;
    padding: 10px;
    height: 50px;
    border-radius: 4px;
}