.container__colaboradores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__colaboradores > .section__introducao{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container__colaboradores > .section__introducao > h1{
    font-size: 40px;
    font-family: prata;
    font-weight: 400;
    color: #6278F7;
}

.container__colaboradores > .section__introducao > hr{
    width: 32px;
    border: 2px solid #6278F7;
    border-radius: 5px;
}

.container__team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 508px;
}

.container__team {
    padding: 30px;
}

.container__team > input[type='color']{
    position: relative;
    left: 48%;
}

.container__card{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: scroll;
}

.container__card::-webkit-scrollbar{
    display: none;
}

.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.introducao > h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.card{
    height: 340px;
    width:262px;
    display: flex;
    flex-direction: column;
}

.top__card{
    height: 90px;
    border-radius: 10px 10px 0 0;
}

.bottom__card{
    height: calc(340px - 90px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 5px;
    padding: 50px 0px;border-radius: 0 0 10px 10px;
}

.top__card > img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom__card{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.bottom__card > h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #6278F7;
}

.bottom__card > h3{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;;
}

.introducao >  hr{
   border: 2px solid;
   border-radius: 5px;
   width: 32px;
}

.delete__card{
    position: relative;
    left: 240px;
    top: 15px;
    cursor: pointer;
}