.postModel{
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
    position: absolute;
    left: 0;
}

@media screen and (min-width:320px){
    .container__postmodel > h1{
        font-family: "Playfair Display", serif;
        font-size: 1.3rem;
        color: #444444;
        height: 150px;
        padding: 20px 6.7rem;
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

@media screen and (min-width:720px){
    .container__postmodel > h1{
        font-size: 3rem;
    }
}