.postModel{
    padding: 40px 100px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.postModel > h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    color: #444444;
}