.postModel{
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
    position: absolute;
    left: 0;
}

.container__postmodel > h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    color: #444444;
    height: 150px;
    padding: 20px 6.7rem;
    display: flex;
    justify-content: start;
    align-items: center;
}